mysql/mysql32/mysql32_5_7_17
server/httpd-2.4.34-win64-VC15
server/php-7.2.8-Win32-VC15-x64
server/xdebuglogs
htdocs/distro
htdocs/wordpress
mysql/mysql32/mysql32_5_7_17/data
starters/apache/cmd_process_info.txt
starters/apache/cmd_process_pid.txt
logs
.idea/workspace.xml
.idea/

workbench.lnk
starts.lnk
stop.lnk
restart.lnk
